<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/nav.ejs') %>
    <div class="title">
      <h1>Index Page</h1>
      <h2>Welcome to the Index Page</h2>
      <% if (messages.success && messages.success.length > 0) { %>
      <h3 class="flash-welcomeback"><%= messages.success[0] %></h3>
      <% } %>
    </div>

    <% if (error) { %>
    <div class="alert-error"><%= error %></div>
    <% } %>

    <div class="main-container">
      <% if (!userId) { %>
      <div class="signin-msg">
        <h3>
          You must sign in to use the search functionality, please
          <a href="/login">sign in</a> to continue
        </h3>
      </div>
      <% } else { %>
      <!-- Display search functionality-->
      <div class="search-form">
        <form action="/search" method="GET">
          <label for="search-string"><h3>Enter your search string:</h3></label>
          <br />
          <input type="text" id="search-string" name="searchString" /> <br />
          <div class="checkbox-option">
            <input
              type="checkbox"
              id="postgres"
              name="database"
              value="postgres"
            />
            <label for="postgres">PostgreSQL</label>
          </div>
          <div class="checkbox-option">
            <input
              type="checkbox"
              id="mongodb"
              name="database"
              value="mongodb"
            />
            &nbsp; &nbsp; &nbsp; &nbsp;
            <label for="mongodb">MongoDB</label>
          </div>
          <br />
          <input type="submit" value="Search" />
        </form>
      </div>
      <% } %> <% if (typeof searchResults !== 'undefined') { %>
      <!-- If searchResults is empty, display a "No results found message" -->
      <% if (searchResults.length === 0) { %>
      <div class="no-results">
        <h3>No results found</h3>
      </div>
      <% } else { %>
      <!-- Else, display the search results -->
      <div class="search-results">
        <h3>Search Results:</h3>
        <ul>
          <% searchResults.map(result => { %>
          <li>
            <div class="result-item">
              <p>
                Title: <%- result.title.replace(new RegExp(searchString, 'gi'),
                '<strong>$&</strong>') %>
              </p>
              <p>
                Genre: <%- result.genre.replace(new RegExp(searchString, 'gi'),
                '<strong>$&</strong>') %>
              </p>
              <p>
                Description: <%- result.description.replace(new
                RegExp(searchString, 'gi'), '<strong>$&</strong>') %>
              </p>
            </div>
          </li>
          <% }) %>
        </ul>
      </div>
      <% } %> <% } %>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
